#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  background-color: cadetblue;
  max-width: 600px;
}
#text{
  margin: 1rem 1rem;
}
#author{
  font-style: bold;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1rem;
}
#button{
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}